@media (min-width: 340px) and (max-height: 700px){ /*Galaxy S5* - iPhone 6/7/8 */
    #Raf{
        width: 320px;
        margin-top: -20px;
    }
    #butt_sup{
        margin-top: 40px;
        margin-left: -15px;
    }
    #audioGuia{
        width: 120px;
    }
    #butt_mid{
        margin-top: 10%;
        margin-left: -15px;
    }
    #escaner,#config,#proceres{
        width: 100px;
    }
    #butt_inf{
        margin-top:  70px;
        margin-left: -8px;
    }
    #regalos,#perfil{
        width: 190px;
        
    } 
    /*Hasta aca es sector menu Principal*/

    #tituloPerfil{
        margin-left: 30%;
    }
    #exitPerfil{
        margin-left: 16%;
    }
    /*Hasta aca es sector  Perfil*/

    #tituloReg{
        font-size: 30px;
    }
    #exitReg{
        width: 50px;
        margin-left: 16%;
    }
    #titulo_estac{
        margin-left: 3%;
    }
    #menuRegalos table input{  
        width: 80px;
        height: 75px;
    }
    /*Hasta aca es sector  Regalos*/
}

@media (min-width: 400px) and (min-height: 800px){ /*Pixel2 XL*/
    #butt_mid{
        margin-top: 20%;
    }
    #butt_inf{
        margin-top: 155px;
    }
    /*Hasta aca es sector menu Principal*/


    #titulo_sube{
        margin-top: 15%;
        
    }
    #subtit_estac, #subtit_sube{
        font-size: 14px;
    }
      /*Hasta aca es sector  Regalos*/
}


@media (min-width: 300px) and (max-height: 600px){ /*iPhone5*/
    #Raf{
        width: 300px;
        margin-top: -20px;
    }
    #butt_sup{
        margin-top: 40px;
        margin-left: -15px;
    }
    #audioGuia{
        width: 100px;
    }
    #butt_mid{
        margin-top: 5%;
        margin-left: -15px;
    }
    #escaner,#config,#proceres{
        width: 80px;
    }
    #butt_inf{
        margin-top: 23px;
        margin-left: -8px;
    }
    #regalos,#perfil{
        width: 160px;
    } 
    /*Hasta aca es sector menu Principal*/

    #tituloPerfil{
        margin-left: 30%;
    }
    #exitPerfil{
        margin-top: 1%;
        margin-left: 13%;
        width: 50px;
    }
    /*Hasta aca es sector  Perfil*/

    
    #tituloPerfil{
        margin-left: 30%;
    }
    #exitPerfil{
        margin-left: 16%;
    }
    /*Hasta aca es sector  Perfil*/

    #tituloReg{
        font-size: 28px;
    }
    #exitReg{
        width: 50px;
        margin-left: 12%;
    }
    #titulo_estac{
        margin-left: 3%;
    }
    #menuRegalos table input{  
        width: 80px;
        height: 75px;
    }
    #estacionamiento, #sube{
        margin-top: -15px;
    }
    #subtit_estac, #subtit_sube{
        margin-top: -10px;
        margin-left: 40%;
    }
        
}

@media (max-width: 380px) and (min-height: 800px){ /*iPhoneX*/
    #Raf{
        margin-left: -20px;
    }
    /*Hasta aca es sector menu Principal*/
    #tituloPerfil{
        margin-top: 5%;
        margin-left: 32%;
    }
    #exitPerfil{
        margin-top: 2%;
        margin-left: 18%;
        width: 50px;
    }
    /*Hasta aca es sector  Perfil*/

    #titulo_sube{
        margin-top: 17%;
        
    }
    #subtit_estac, #subtit_sube{
        font-size: 14px;
        margin-left: 45%;
    }
    #estacionamiento, #sube{
        margin-left: 2%;
    }

      /*Hasta aca es sector  Regalos*/
}
